body {
background-image: url('../images/white_wall.jpg');
background-size: 50%;
padding-top: 55px 5px 5px 5px;
}

p {
line-height: 28px;
padding: 10px 10px 10px 10px;
text-align: center;
background-color: rgba(255,255,255,0.8);
font-family: Lucida Console;
}

#title {
min-height: 700px;
background-image: url('../images/kids.jpg');
background-size: cover;
background-attachment: fixed;
text-align: center;
color:#D3D3D3;
}

#mission {
margin-top: 10px;
min-height: 700px;
background-size: cover;
background-attachment: fixed;
text-align: center;
}

#myCarousel {
margin-top: 10px;
min-height: 700px;
background-size: cover;
background-attachment: fixed;
text-align: center;
}

#games {
margin-top: 10px;
min-height: 700px;
background-size: cover;
background-attachment: fixed;
}

#final  {
margin-top: 10px;
min-height: 700px;
background-image: url('../images/theresa_may_waving.jpg');
background-size: cover;
background-attachment: fixed;
}

#social-buttons {
margin-top: 10px;
padding: 15px 30px 10px 10px;
}
button {
color: white;
}
.btn-twitter {
background-color: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background-color: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
}

#sign-up {
padding: 15px 30px 10px 10px;
}
