body {
background-image: url('../images/white_wall.jpg');
background-size: 50%;
padding-top: 55px;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
}

p {
line-height: 28px;
padding: 10px 10px 10px 10px;
text-align: center;
background-color: rgba(255,255,255,0.8);
font-family: Lucida Console;
}

#title {
min-height: 700px;
background-image: url('../parliament_night.jpg');
background-size: cover;
color: #D3D3D3;
background-attachment: fixed;
}

#mission {
  min-height: 100%;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  text-align: center;
}

#fun {
  min-height: 700px;
  background-image: url('...');
  background-size: cover;
  background-attachment: fixed;

}

@keyframes slider {
  0% {
    Left: 0;
  }
20% {
    Left:0;

}
25% {
    Left: -100%;
}
45% {
   Left: -100%;
}
50% {
  Left: -200%;
}
70% {
   Left: -200%;
}
75% {
   Left: -300%;
}
95% {
   Left: -300%;
}
100% {
   Left: -400%;
}
}

#slider {
  overflow: hidden;
}

#slider figure img {
   width: 20%;
   float: left;
}

#slider figure {
   position: relative;
   width: 400%;
   margin: 0;
   left: 0;
   text-align: left;
   font-size: 0;
   animation: 20s slider infinite;
}

#games {
  min-height: 700px;
  background-color: #f28f48;
  background-size: cover;
  background-attachment: fixed;
}

#final  {
  min-height: 700px;
  background-image: url('../images/theresa_may_waving.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#social-buttons {
  padding: 15px 30px 10px 10px;
}
button {
color: white;
}
.btn-twitter {
background-color: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background-color: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
}

#sign-up {
  padding: 15px 30px 10px 10px;
}
